{
  "presets": [
    "flow",
    "react",
    ["env", {"modules": false}],
    "stage-0"
  ],
  "plugins": [
    ["relay", {"compat": true, "schema": "app/graph/schema.json"}]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        "react-pure-components",
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "plugins": ["react-pure-components"]
    }
  }
}
