{
  "presets": [
    "react",
    ["latest", {"es2015": {"modules": false}}],
    "stage-0"
  ],
  "plugins": [
    ["relay", {"schema": "app/graph/schema.json"}]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": ["react-pure-components"]
    },
    "production": {
      "plugins": ["react-pure-components"]
    }
  }
}
