{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": { "require": true, "Features": true },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "strict": 2,
    "no-console": 2,
    "no-new-require": 2,
    "react/display-name": [2, { "ignoreTranspilerName": false }],
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": 2,
    "react/jsx-handler-names": 2,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": 0,
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": [ 1, { "ignoreRefs": true } ],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "jsx-quotes": 2,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 0,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": [ 2, { "ignoreStateless": true } ],
    "react/no-set-state": 0,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 0,
    "react/wrap-multilines": 2
  }
}
