# Ingore custom .env file
.env

# OSX cache files
.DS_Store

# git head commit sha without .git
/REVISION

# Node
node_modules
npm-debug.log

# Webpack
dist

# Temp folders
tmp

# Jest coverage output
coverage

# Webpack bundle analysis
bundle-analysis

# Storybook exports generated using `yarn build-storybook`
storybook-static

.cache/