/* This isn't strictly BassCSS here, but it's the only easy way to render the
 * different elements within an annotation body */

.annotation-body pre {
  padding: 10px;
  margin: 1em 0;
}

.annotation-body details > summary {
  cursor: pointer;
}

.annotation-body details[open] > summary {
  margin-bottom: 1em;
}

.annotation-body details[open] {
  margin-bottom: 1em;
}
