.Navigation__Badge {
  background: black;
  display: inline-block;
  border-radius: 6px;
  padding: 3px 6px 3px 5px;
  font-size: 11px;
  margin-left: 5px;
  color: white;
  line-height: normal;
  text-align: center;
}
