.btn-primary {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 3px;
  font-weight: inherit;
}

/* Since we've got bootstrap.css on the page, we need to re-define this class
with more specificity to target a tags. Bootstrap overrides the base colors for
all a-tags, and .btn-primary can't get it's own styles on there. */
a.btn-primary {
  color: var(--white);
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-primary:focus {
  border-color: var(--darken-2);
}

.btn-primary:active {
  outline: 0;
  box-shadow: inset 0 0 0 20rem var(--darken-2),
    inset 0 3px 4px 0 var(--darken-3),
    0 0 1px var(--darken-2);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}
