.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-outline:focus {
  border-color: var(--darken-2);
}

.btn-outline:active {
  outline: 0;
  box-shadow: inset 0 0 0 10rem var(--darken-2),
    inset 0 3px 4px 0 var(--darken-1),
    0 0 1px var(--darken-1);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
  cursor: not-allowed;
}
