.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: .75em 1em;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
  outline: none;
}

.btn .emoji {
  margin-top: -4px;
  margin-bottom: -2px;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
