.buildkite-codemirror .CodeMirror {
  /* https://codemirror.net/demo/resize.html */
  height: auto;
  min-height: 150px;
  font-family: var(--font-family-mono);
  font-size: 13px;
}

.buildkite-codemirror .CodeMirror-scroll {
  min-height: 150px;
}

.buildkite-codemirror .CodeMirror-gutters {
  background: var(--silver);
}

.buildkite-codemirror .CodeMirror-linenumber {
  background: var(--silver);
}
