@import 'codemirror/lib/codemirror.css';
@import 'variables';

/* Always make the CodeMirror box the max height of it's parent, and change the
 * font so it's nicer :) */

.CodeMirror {
  height: 100% !important;
  font-family: var(--font-family-mono);
  font-size: 12px;
  line-height: 17px;
  background: inherit;
  z-index: 1;
}

/* Gutters and line numbers now match our grays */

.CodeMirror-gutters {
  background: white;
  border: 0;
  color: var(--dark-gray);
  padding-right: 5px;
}

.CodeMirror-linenumber {
  background: white;
}

/* Makes the autocomplete hint dialog match our panels a bit better */

.CodeMirror-hints {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.03);
  border-color: var(--gray);
  font-family: var(--font-family-mono);
  font-size: 12px;
}

li.CodeMirror-hint {
  padding: 2px 6px;
}

li.CodeMirror-hint-active {
  background-color: var(--lime);
}

/* Custom YAML Editor Theme. Mostly copied the GitHub file viewer colors */

.cm-s-yaml {
  color: #3c3c3c !important;
}

.cm-s-yaml .cm-atom {
  color: #2465ad;
}

.cm-s-yaml .cm-string {
  color: #388a26;
}

.cm-s-yaml .cm-meta {
  color: #555;
}

.cm-s-yaml .cm-keyword, .cm-s-yaml .cm-number, .cm-s-yaml .cm-variable-2 {
  color: #ca1655;
}

.cm-s-yaml .cm-def, .cm-s-yaml .cm-comment {
  color: #999;
}

/* Custom GraphQL Editor Theme. These colors have been copied from the offical
 * GraphQL editor theme as seen here:
 * http://graphql.org/learn/queries/#fragments */

.cm-s-graphql .cm-property {
  color: #1F61A0;
}

.cm-s-graphql .cm-string {
  color: #D64292;
}

.cm-s-graphql .cm-keyword {
  color: #B11A04;
}

.cm-s-graphql .cm-attribute {
  color: #8B2BB9;
}

.cm-s-graphql .cm-variable {
  color: #397D13;
}

.cm-s-graphql .cm-punctuation {
  color: #555;
}

.cm-s-graphql .cm-punctuation.CodeMirror-matchingbracket {
  color: #555;
  text-decoration: underline;
}

.cm-s-graphql .cm-number {
  color: #2882F9;
}

.cm-s-graphql .cm-def {
  color: #D2054E;
}

.cm-s-graphql .cm-atom {
  color: #CA9800;
}

.cm-s-graphql .cm-comment {
  color: #999;
}

.cm-s-graphql .cm-qualifier {
  color: #1C92A9;
}

.cm-s-graphql .cm-string-2 {
  color: #0B7FC7;
}

.cm-s-graphql .cm-meta {
  color: #B33086;
}
