.black           { color: var(--black) }
.gray            { color: var(--gray) }
.dark-gray       { color: var(--dark-gray) }
.silver          { color: var(--silver) }
.white           { color: var(--white) }

.aqua            { color: var(--aqua) }
.blue            { color: var(--blue) }
.navy            { color: var(--navy) }
.teal            { color: var(--teal) }
.green           { color: var(--green) }
.olive           { color: var(--olive) }
.lime            { color: var(--lime) }
.dark-lime       { color: var(--dark-lime) }
.light-lime      { color: var(--light-lime) }

.yellow          { color: var(--yellow) }
.orange          { color: var(--orange) }
.light-red       { color: var(--light-red) }
.red             { color: var(--red) }
.dark-red        { color: var(--dark-red) }
.fuchsia         { color: var(--fuchsia) }
.purple          { color: var(--purple) }
.maroon          { color: var(--maroon) }

.color-inherit   { color: inherit }
.muted           { opacity: .5 }
