/* If there are any invalid HTML5 elements in the form, automatically disable
 * the submit button */
form.form:invalid input[type=submit] {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
