.hover-color-inherit:hover,
.hover-color-inherit-parent:hover .hover-color-inherit { color: inherit }

.hover-green:hover {
  color: var(--green);
}

.hover-green:hover .hover-green-child,
.hover-green:active .hover-green-child,
.hover-green:focus .hover-green-child {
  background-color: var(--green);
}

.hover-lime:hover {
  color: var(--lime);
}

.hover-lime:hover .hover-lime-child,
.hover-lime:active .hover-lime-child,
.hover-lime:focus .hover-lime-child {
  background-color: var(--lime);
}

.hover-dark-lime:hover,
.hover-dark-lime:active,
.hover-dark-lime:focus {
  color: var(--dark-lime);
}

.hover-white:hover {
  color: var(--white);
}

.hover-white:hover .hover-white-child,
.hover-white:active .hover-white-child,
.hover-white:focus .hover-white-child {
  background-color: var(--white);
}

.hover-gray:hover {
  color: var(--gray);
}

.hover-gray:hover .hover-gray-child,
.hover-gray:active .hover-gray-child,
.hover-gray:focus .hover-gray-child {
  background-color: var(--gray);
}

.hover-dark-gray:hover {
  color: var(--dark-gray);
}

.hover-dark-gray:hover .hover-dark-gray-child,
.hover-dark-gray:active .hover-dark-gray-child,
.hover-dark-gray:focus .hover-dark-gray-child {
  background-color: var(--dark-gray);
}

.hover-black:hover {
  color: var(--black);
}

.hover-black:hover .hover-black-child,
.hover-black:active .hover-black-child,
.hover-black:focus .hover-black-child {
  background-color: var(--black);
}

.hover-blue:hover {
  color: var(--blue);
}

.hover-blue:hover .hover-blue-child,
.hover-blue:active .hover-blue-child,
.hover-blue:focus .hover-blue-child {
  background-color: var(--blue);
}

.hover-navy:hover {
  color: var(--navy);
}

.hover-navy:hover .hover-navy-child,
.hover-navy:active .hover-navy-child,
.hover-navy:focus .hover-navy-child {
  background-color: var(--navy);
}
