.hover-underline:hover {
  text-decoration: underline;
}

.hover-underline-parent:hover .hover-underline-child {
  text-decoration: underline;
}

.hover-underline-dotted:hover {
  border-bottom: 1px dashed currentColor;
}
