.input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input:focus {
  border-color: #888;
  outline: 0;
}

.input.is-error {
  border-color: var(--light-red);
}

.input.is-error:focus {
  border-color: var(--dark-red);
}
