.input {
  display: block;
  width: 100%;
  padding: .43em .86em;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .3em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  /* disable iOS' extra inner shadows */
  appearance: none;

  &::placeholder {
    color: var(--dark-gray);
  }

  &:focus {
    border-color: #888;
    outline: 0;
  }

  &.borderless {
    border-color: #fff;
    box-shadow: none;
  }

  &.borderless:focus {
    border-color: #fff;
  }

  &.is-error {
    border-color: var(--light-red);
  }

  &.is-error:focus {
    border-color: var(--dark-red);
  }
}
