/* We have our own implementation of the basscss btns */
@import 'custom-basscss-btn';
@import 'custom-basscss-btn-primary';

/* Since we're also using bootstrap, we need to only include those basscss
 * modules that don't mess with the global CSS scope */
@import 'basscss-btn-outline';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-type-scale';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-position';
@import 'basscss-responsive-states';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-border';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import 'basscss-border-colors';

@import 'custom-basscss-responsive-states';

/* Include our custom classes */
@import 'hover-colors';
@import 'bg-hover-colors';
@import 'hover-effects';
@import 'focus-colors';
@import 'active-colors';
@import 'shadows';
@import 'rounded';
@import 'transitions';
@import 'animations';
@import 'interaction-events';
@import 'text';
@import 'icons';

/* Override some of the basscss defaults */
:root {
  --silver: #F9FAFB;
  --lime: #7EAF25;
  --blue: #337ab7;

  --border-color: #DDDDDD;

  --bold-font-weight: 600;

  --container-width: 100%;

  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;

  --button-line-height: 1.42857;
  --button-padding-y: 6px;
  --button-padding-x: 12px;
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight, bold);
  --button-font-weight: 500;

  --h1: 25px;
}

/* Custom breakpoints that match bootstrap */
@custom-media --breakpoint-sm (min-width: 768px);
@custom-media --breakpoint-md (min-width: 992px);
@custom-media --breakpoint-lg (min-width: 1200px);
