@import 'btn';
@import 'btn-primary';
@import 'bg-colors';
@import 'bg-hover-colors';
@import 'hover-colors';
@import 'hover-fading';
@import 'hover-underline';
@import 'focus-colors';
@import 'shadows';
@import 'rounded';
@import 'transitions';
@import 'animations';
@import 'interaction-events';
@import 'text';
@import 'icons';
@import 'forms';
@import 'colors';

@import 'basscss';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import 'basscss-border-colors';
@import 'basscss-darken';
@import 'basscss-lighten';

@import 'container';

/* Override some of the basscss defaults */
:root {
  --silver: #F9FAFB;
  --lime: #7EAF25;
  --blue: #337ab7;
  --gray: #DDDDDD;
  --dark-gray: #8E8E8E;
  --red: #a94442;

  --bold-font-weight: 600;

  --container-width: 100%;

  --h1: 25px;
  --h3: 24px;
  --h4: 18px;
  --h5: 14px;
  --h6: 12px;

  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
}
