@import 'btn';
@import 'btn-primary';
@import 'btn-outline';
@import 'backdrop';
@import 'background-colors';
@import 'background-hover-colors';
@import 'border-colors';
@import 'svg-colors';
@import 'hover-colors';
@import 'hover-fading';
@import 'hover-underline';
@import 'focus-colors';
@import 'shadows';
@import 'rounded';
@import 'transitions';
@import 'animations';
@import 'interaction-events';
@import 'text';
@import 'fonts';
@import 'font-weights';
@import 'letter-spacing';
@import 'icons';
@import 'forms';
@import 'colors';
@import 'flexbox';

@import 'basscss';

@import 'container';
@import 'cursor';
@import 'display';
@import 'emoji';

:root {
  --black:  #111111;
  --gray: #DDDDDD;
  --dark-gray: #8E8E8E;
  --very-dark-gray: #222;
  --silver: #F9FAFB;
  --white:  #FFFFFF;

  --aqua: #7FDBFF;
  --blue: #337ab7;
  --navy: #001F3F;
  --teal: #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime: #7EAF25;

  --yellow: #FFDC00;
  --orange: #FF851B;
  --light-red: #D0A9A7;
  --red: #a94442;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;

  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
  --darken-4: rgba(0, 0, 0, .5);

  --font-family-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
  --font-family-mono: Monaco, Consolas, monospace;

  --bold-font-weight: 600;

  --container-width: 100%;

  --h1: 25px;
  --h3: 24px;
  --h4: 18px;
  --h5: 14px;
  --h6: 12px;

  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
}
