@import 'btn';
@import 'hover-colors';
@import 'hover-fading';
@import 'hover-underline';
@import 'focus-colors';
@import 'active-colors';
@import 'shadows';
@import 'rounded';
@import 'transitions';
@import 'animations';
@import 'interaction-events';
@import 'text';
@import 'icons';

@import 'basscss';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import 'basscss-border-colors';

/* Override some of the basscss defaults */
:root {
  --silver: #F9FAFB;
  --lime: #7EAF25;
  --blue: #337ab7;
  --gray: #DDDDDD;

  --bold-font-weight: 600;

  --container-width: 100%;

  --h1: 25px;
  --h3: 24px;
  --h4: 18px;
  --h5: 14px;
  --h6: 12px;

  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
}

/* Custom breakpoints that match bootstrap */
@custom-media --breakpoint-xs (max-width: 768px);
@custom-media --breakpoint-sm-md (min-width: 768px) and (max-width: 992px);
@custom-media --breakpoint-md-lg (min-width: 992px) and (max-width: 1200px);
@custom-media --breakpoint-lg (min-width: 1200px);
