:root {
  --navHeight: 47px;
}

.Navigation {
  background: #f9fafb;
  border-bottom: 1px solid #ddd;
  height: var(--navHeight);
  line-height: var(--navHeight);
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
}

.Navigation a {
  color: black;
}

.Navigation a:hover, .Navigation a:active, .Navigation a:focus {
  color: #83AD18;
  text-decoration: none;
}

.Navigation__Inner {
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.Navigation__Logo {
  float: left;
  height: 25px;
  margin: 11px 20px 0 0;
}

.Navigation__Seperator {
  display: inline-block;
  height: var(--navHeight);
  margin: 0 15px;
  vertical-align: top;
}

.Navigation__Badge {
  background: black;
  display: inline-block;
  border-radius: 6px;
  padding: 3px 6px 3px 5px;
  font-size: 11px;
  margin-left: 5px;
  color: white;
  line-height: normal;
  text-align: center;
}
