.small {
  font-size: 85%;
}

.underline-dotted {
  border-bottom: 1px dashed currentColor;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (--breakpoint-sm) {
  .sm-right-align { text-align: right !important }
}

@media (--breakpoint-md) {
  .md-right-align { text-align: right !important }
}

@media (--breakpoint-lg) {
  .lg-right-align { text-align: right !important }
}
