.transition-popup-shown {
  transition: opacity 80ms 0 ease-out-back,
              transform 120ms 20ms ease-out-back;
}

.transition-popup-hidden {
  transition: opacity 80ms 20ms ease-out-back,
              transform 120ms 0 ease-out-back;
}

.transition-popup-hidden {
  opacity: 0;
  transform: scaleX(.75) scaleY(.5);
  user-select: none;
}

.transition-popup-shown {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.transition-popup-tl {
  transform-origin: top left;
}

.transition-popup-tr {
  transform-origin: top right;
}
