:root {
  --black:  #111111;
  --gray: #DDDDDD;
  --dark-gray: #8E8E8E;
  --very-dark-gray: #222;
  --silver: #F9FAFB;
  --white:  #FFFFFF;

  --aqua: #7FDBFF;
  --blue: #337ab7;
  --navy: #001F3F;
  --teal: #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --light-lime: #D5EBA4;
  --lime: #14CC80;
  --dark-lime: #00BB64;

  --yellow: #FFDC00;
  --orange: #FF851B;
  --light-red: #D0A9A7;
  --red: #F45856;
  --dark-red: #a94442;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;

  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
  --darken-4: rgba(0, 0, 0, .5);

  --font-family-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
  --font-family-mono: "SFMono-Regular", Monaco, Menlo, Consolas, "Liberation Mono", Courier, monospace;

  --bold-font-weight: 600;

  --container-width: 100%;

  --h1: 24px;
  --h2: 21px;
  --h3: 18px;
  --h4: 14px;
  --h5: 13px;
  --h6: 12px;

  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
}
